[Unit]
Description=slideshow_ftp_obrobka
Wants=graphical.target
After=graphical.target

[Service]
Environment=XAUTHORITY=/home/devel/.Xauthority
Type=simple
WorkingDirectory=/home/devel/porcjonowanie_zdjec
ExecStart=/bin/bash porcjonowanie.sh
Restart=always

[Install]
WantedBy=graphical.target

